:root{
    --main-bg-color: #f0f0f0;
    background-color: var(--main-bg-color);
}
/* Custom CSS */
#app {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding-top: 3rem;
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}
/* Boton añadir */
.inputUrl__button{
    width: 8em;
    font-weight: bold;
}
/* Video en galeria */
.cards__item{
    cursor: pointer;
}
.cards__delete{
    top: 10px;
    right: 30px;
    font-size: 2em;
    background: rgba(0,0,0, .8);
    color: #fff;
}
/* Modal */
.modal-dialog{
    max-width: 50rem;
}
